body {
    background-color: wheat;
    color: black;
    font-size: large
}

.about {
    text-align: center;

}


.Awards {
    text-align: center;
    text-transform: uppercase;
    text-rendering: inherit;
}

.death {
    text-align: center;
}