body {
    background-color: wheat;
    color: black;
    font-size: large
}

.text-center {
    text-align: center;
}

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}


.Awards {
    text-align: center;
    text-transform: uppercase;

}

.death {
    text-align: center;
}