* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.main-container {
    display: flex;
}

header.top-header {

    display: flex;
    justify-content: space-between;
    width: 100%;
    max-height: 50px;
    align-items: center;
}

header {
    .profile-section {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 170px;
    }
}

div.breadcrums {
    display: flex;
    padding: 10px;
    margin-left: 10px;
    margin-top: -1rem;
}

.breadcrums>a {
    text-decoration: none;
    color: #000;
}

.m-left {
    display: flex;
    margin-left: 44rem;
    justify-content: space-between;
    width: 5%;
}

aside .side-nav {
    height: 100vh;
    max-width: 80%;
}

aside.side-nav {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

div.space {
    margin-left: 10px;
    padding: 10px;
    margin-bottom: 20px;
}

nav ul>li {
    list-style: none;
    margin-left: 10px;
    padding: 10px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

img.profile-img {
    height: 50px;
    border-radius: 50%;
}