* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav a,
ul,
li {
    display: flex;
    color: #333;
    list-style: none;
    text-decoration: none;
}

nav.top-navigation {
    display: flex;
    width: 100%;
    background-color: #f2f2f2;
    align-items: center;

}

ul.nav {
    display: flex;
    justify-content: space-evenly;
    width: 40%;

}

li.nav-items {
    margin-left: 10px;
    margin-right: 10px;
}

h1 {
    font-size: 128px;

}

h1,
p {
    margin-right: 100px;
}

.img {
    display: flex;
    float: right;
    width: 665px;
    height: 465px;
    margin-top: -90px;

}

.text {
    text-indent: 75px;
}



button {
    background-color: #1c1c1c;
    color: #f2f2f2;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    margin: 4px 2px;
    cursor: pointer;
}

.button {
    border-radius: 9px;
    width: 300px;
    height: 113px;
}

.flex-container {
    display: flex;


}

.image-size {
    width: 296px;
    height: 207px;
}