* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

nav.top-navigation {
    display: flex;
    width: 100%;
    height: 60px;
    align-items: center;
    justify-content: center;


}

ul.nav {
    display: flex;
    justify-content: space-evenly;
    width: 40%;
}

li.nav-items {
    list-style: none;
}

li.nav-items>a {
    color: #333;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    font-size: larger;
}

h1 {
    font-size: 128px;
    padding: 20px;
    margin-bottom: 20px;
    margin-left: 60px;
    margin-top: 180px;
}

p {
    padding: 20px;
    margin: -50px 5px 12px 160px;
}

.img {
    display: flex;
    float: right;
    width: 665px;
    height: 465px;
    padding: 20px;
    margin-top: -90px;
    margin-bottom: 150px;

}

.text {
    text-indent: 75px;
}



button {
    background-color: #1c1c1c;
    color: #f2f2f2;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    margin: 4px 2px;
    cursor: pointer;
}

.button {
    border-radius: 9px;
    width: 456px;
    height: 113px;
    margin-bottom: 190px;
    margin-left: 140px;
}

h2 {
    font-size: 40px;
    margin: 40px;
    margin-left: 65px;
    padding: 20px;
}

.flex-container {
    display: flex;
    justify-content: space-around;

}

.flex-container>div {
    margin: 10px;
    padding: 20px;

}

.image-size {
    width: 270px;
    height: 207px;
}

.div {
    border: 1px solid;
    height: 413px;
    width: 296px;
}

.text-center {
    margin-top: -20px;
    margin-bottom: 10px;
    margin-left: 90px;
}

.text-left {
    padding: 50px;
    margin-left: 40px;
}

.color {
    color: rgba(248, 100, 100, 0.747);
    margin-left: 80px;
    margin-top: -85px;

}

.price {
    color: #8d0b0b;
    margin-left: 106px;
    margin-top: -80px;
}


.price-color {
    color: #8b0606;
    margin-left: 120px;
    margin-top: -70px;
}